[v-cloak] > * { 
    display:none; 
}

.centre {
    justify-content: center;
}

.validatiton-error {
    color: red;
}

.input-validate-error {
    border-color: red;
}

.client-form {
    max-width: 800px; 
    border: 1px solid #dee2e6; 
    margin: 20px; 
    padding: 10px;
}